@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
}



/* Define the base title styles */
.title {
  font-size: 1.25rem;
  /* text-xl */
  font-weight: 600;
  /* font-semibold */
}

/* Medium screens (min-width: 768px) */
@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
    /* text-2xl */
  }
}

/* Large screens (min-width: 1024px) */
@media (min-width: 1024px) {
  .title {
    font-size: 1.875rem;
    /* text-3xl */
  }
}

/* Define the base subtitle styles */
.subtitle {
  font-size: 1rem;
  /* text-base */
  color: #4a5568;
  /* text-gray-700 */
}

/* Small screens (min-width: 640px) */
@media (min-width: 640px) {
  .subtitle {
    font-size: 1.125rem;
    /* text-lg */
  }
}

/* Medium screens (min-width: 768px) */
@media (min-width: 768px) {
  .subtitle {
    font-size: 1.25rem;
    /* text-xl */
  }
}