@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic resets */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Google fonts */
:root {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  font-family: var(--font-inter);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark theme styles */
.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

/* Utility classes for fonts */
.inter {
  font-family: var(--font-inter);
}

.poppins {
  font-family: var(--font-poppins);
}

.roboto {
  font-family: var(--font-roboto);
}

/* Logo */
.logo {
  max-width: 130px;
  max-height: 45px;
  width: auto;
  height: auto;
}

/* Title and Subtitle styles */
.title {
  font-size: 1.25rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 1.875rem;
  }
}

.subtitle {
  font-size: 1rem;
  color: #4a5568;
}

@media (min-width: 640px) {
  .subtitle {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 1.25rem;
  }
}
